<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- <template>
            <input type="text" v-model="nombre">
            <p v-if="nombre">Hola {{ nombre }}!!</p>
            <p v-else>Ingrese un nombre</p>
        </template> -->
        <template>
            <div>
                <p v-if="valor === 1">Uno</p>
                <p v-else-if="valor === 2">Dos</p>
                <p v-else-if="valor === 3">Tres</p>
                <p v-else>Otro</p>
                <button @click="valor++">Cambia Valor</button>
                <p>{{valor }}</p>
            </div>
        </template>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                valor: 1
            }
        })
    </script>
</body>

</html>